.coupon {
  width: 100%;
}
.couponSubHeader {
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  font-size: 12px;
}
.couponSubHeader > div:first-child {
  -webkit-flex: 2 0 0;
  flex: 2;
  font-weight: bold;
  margin: 0 0 0 5px;
}
.couponSubHeader > div {
  -webkit-flex: 1 0 0;
  flex: 1;
  margin: 0 0 0 0;
  text-align: center;
  height: 30px;
  line-height: 30px;
}
.couponHeader {
  background-color: #007ac0;
  color: #fff;
  height: 40px;
}
.couponHeader > div {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  margin-left: 10px;
}
